@import "tailwindcss";

.passeio p {
  font-weight: 600;
}

.passeio p span {
  font-weight: 400;
}

.scrollbar1 {
  scrollbar-width: 2px;
  scrollbar-color: var(--color-yellow-200);
  
}

body, .scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar, .scrollbar::-webkit-scrollbar {
  display: none;
}