@import "tailwindcss";

.passeio p {
  font-weight: 600;
}

.passeio p span {
  font-weight: 400;
}


body, .scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar, .scrollbar::-webkit-scrollbar {
  display: none;
}